body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Nobile', sans-serif !important;
}

main {
  flex: 1 0 auto;
}

.footer-copyright {
  margin: 0 10px;
}

footer a {
  text-decoration: underline;
}
